html {
    -webkit-user-select: none;
}

.search .icon-search {
    position: relative;
    /*left:2em;*/
    /*width:2em;*/
    margin: 0;
    border: 0;
    padding-left: .5em;
    padding-right: .5em;
}

.search input[type=search] {
    margin-left: -33px;
    padding-left: 25px;
}

body .ui-widget {
    font-size: 1em;
}

.ui-state-active, .ui-state-hover, .ui-state-visited, .ui-state-focus {
    outline: none !important;
}

    .ui-state-active a, .ui-state-hover a, .ui-state-visited a, .ui-state-focus a {
        outline: none !important;
    }

.ui-widget * {
    outline: none;
}

.inputtext textarea, .sourcetext textarea {
    height: 6em;
    resize: none;
}

#tabs {
    padding: 0px;
}


#main-page {
    display: flex;
    flex-direction: row;
}

#page {
    flex: 1 1 auto;
}

#drag-bar {
    flex: 0 0 auto;
    background-color: #356C28;
    width: .2em;
    cursor: col-resize;
    height: 100%;
}

#ghostbar {
    width: 3px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 999;
}

.can-drop {
    background-color: red;
}

.draggable {
    cursor: -webkit-grab;
}

.vert {
    display: block;
}

.side-bar {
    overflow-y: scroll;
    flex: 0 0 auto;
    border-left: 2px solid #356C28;
    border-radius: 0; /*jquery ui wants to put a bunch of stupid classes on my side bar*/
}

#side-bar-monitors {
    width: 140px;
}

.ui-tabs-nav li {
    border: 2px solid #fff;
    margin: 2px;
}

    .ui-tabs-nav li:hover {
        border: 2px solid #356C28;
    }

        .ui-tabs-nav li:hover:not(.ui-tabs-active) a {
            color: black !important;
            -webkit-transition: all 0.3s ease;
        }

.ui-tabs-nav .ui-tabs-active:hover a {
    color: white;
}

ui-tabs-nav li a {
    -webkit-transition: all 0.3s ease;
}

.ui-tabs-nav .ui-tabs-active {
    background: #356C28;
    border: 2px solid #356C28;
}

    .ui-tabs-nav .ui-tabs-active a {
        color: white;
    }

    .ui-tabs-nav .ui-tabs-active:hover a {
        background: #255C18;
    }



.ui-tabs-nav li {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .ui-tabs-nav li a {
        color: #1c1b39;
    }

#side-bar-monitors .ui-tabs-nav {
    position: absolute;
    width: 120px;
    padding: 10px;
}

    #side-bar-monitors .ui-tabs-nav li {
        width: 100%;
        overflow: hidden;
    }

        #side-bar-monitors .ui-tabs-nav li a {
            width: calc(100% - 2em);
            overflow: hidden;
        }

.ui-tabs-nav li {
    /*border-bottom-width: 1px !important;
                border-right-width: 1px !important;*/
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}


#main {
    height: 100%;
    width: 100%;
}

#main-page {
    height: 100%;
    width: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#tabs {
    height: 100%;
    width: 100%;
}

#page {
    height: 100%;
}

#rightsMatrix, #impactedRatings, #Catalogs {
    height: calc(100% - 85px);
    overflow: scroll;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#outlineTab {
    height: calc(100% - 35px);
}

    #outlineTab .main {
        flex: 1 1 auto;
    }

    #outlineTab .fill {
        display: flex;
        flex-direction: row;
    }

    #outlineTab .fill {
        height: 100%;
    }

#addTopic.dialog {
    overflow: auto;
    /*height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;*/
}

#tree-view .main {
    display: flex;
    flex-direction: column;
}

    #tree-view .main .holder {
        -ms-flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    #tree-view .main .body {
        height: 100%;
        overflow: scroll;
        -ms-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
    }

.catalog-text {
    border: none;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border: none;
}

.Score {
    border: none;
}

.pure-table td, .pure-table th {
    padding: 0px; /*1px 2px 1px 2px*/
}

.pure-table td {
    /*vertical-align: top;*/
}

/*.pure-table td:hover {
        border-color: #888;
    }*/


.pure-table td {
    /*vertical-align: top;*/
    width: 100%;
    height: 100%;
}

.pure-table th {
    padding-bottom: 4px;
    text-align: center;
    border-left: 0;
}

textarea.catalog-text {
    resize: vertical;
    overflow: hidden;
}

.resizable {
    resize: horizontal;
    width: calc(100% - 4px);
    min-width: 150px;
    background-color: #DCF0D8;
    color: black;
    /*height: 100%;*/
}

.select2-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-transition: border 0.3s ease;
}

    /*we need to show the overflow when they are selecting otherwise we don't get a drop down*/
    .select2-container.select2-container--open {
        overflow: visible;
        /*border: 1px solid #000;*/
    }

/*textarea.Sub-Category, textarea.Topic, textarea.Source, textarea.Input {
    width: 200px;
}

textarea.Module, textarea.Score, textarea.Monitor {
    width: 100px;
}*/

.searchInput {
    /*height: 0px;
    border: 0;
    padding: 0;*/
    float: left;
    -webkit-transition: all 0.3s ease;
    outline: 0;
}

.catalog-readonly {
    border: none;
    resize: none;
    width: 150px;
}

    .catalog-readonly.catalog-info {
        resize: vertical;
        overflow: hidden;
        height: 100%;
    }

.catalog-input {
    padding: 4px;
    border: 1px solid #ffffff;
    -webkit-transition: border 0.3s ease;
    width: calc(100% - 10px);
    height: 100%;
}

    .catalog-input:hover {
        border: 1px solid #888;
        -webkit-transition: border 0.3s ease;
    }

    .catalog-input:focus {
        border: 1px solid #000000;
        -webkit-transition: border 0.3s ease;
    }

.select2-container .select2-selection--single {
    padding: 4px;
    border: 1px solid #ffffff;
    -webkit-transition: border 0.3s ease;
}

    .select2-container .select2-selection--single:focus {
        border: 1px solid #000;
    }

.select2-container--open.select2 .select2-selection--single {
    border: 1px solid #000;
    -webkit-transition: border 0.3s ease;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.selection {
    width: 100%;
    height: 100%;
}

.select2-selection {
    width: 100%;
    height: 100%;
}

.select2-container .select2-selection--single {
    height: 100%;
}

.select2-container .select2-selection--single {
    padding: 4px;
    border: 1px solid #ffffff;
    -webkit-transition: border 0.3s ease;
}

    .select2-container .select2-selection--single:hover {
        border: 1px solid #888;
    }

.select2-container--open .select2-selection--single:hover {
    border: 1px solid #000;
}

.select2-container.select2-container--open.select2 .select2-selection--multiple {
    border: 1px solid #000;
    -webkit-transition: border 0.3s ease;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0;
}

.selection {
    width: 100%;
    height: 100%;
}

.select2-selection {
    width: 100%;
    height: 100%;
}

.select2-container .select2-selection--multiple {
    height: 100%;
    border: 1px solid #fff;
}

.addTopic .select2-container:hover, .select2-selection--multiple:hover, .addTopic input:hover, .addTopic textarea:hover {
    border: 1px solid #888;
}

.select2-container.select2-container--open .select2-selection--multiple:hover, .addTopic input:focus, .addTopic textarea:focus {
    border: 1px solid #000;
}

.select2-container .select2-selection--multiple:focus {
    border: 1px solid #000;
}

button.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    margin-left: -35px;
    cursor: pointer;
}

    button.close-icon:after {
        content: "X";
        width: 15px;
        height: 15px;
        -webkit-appearance: none;
        background-color: #FA9595;
        z-index: 1;
        top: 0;
        bottom: 0;
        padding: 2px;
        color: white;
        font-weight: normal;
        font-size: 12px;
        box-shadow: 0 0 2px #E50F0F;
        cursor: pointer;
    }

.searchInput:not(:valid) ~ button.close-icon {
    display: none;
}

.searchInput:not(:valid) {
    width: calc(100% - 5px);
    padding-right: 0px;
}

.searchInput:valid {
    width: calc(100% - 40px);
    padding-right: 35px;
}

#addTopicButton {
    -webkit-transition: all 0.3s ease;
}

.off {
    background-color: red;
}

/*.addTopic label {
    width:200px;
    text-align:right;
    padding-right:25px;
}*/



.addTopic {
    width: 100%;
    /*margin: 0 auto;*/
}

    .addTopic h4 {
        width: 200px;
        text-align: right;
        vertical-align: top;
        display: inline-block;
        margin: 0;
    }

    .addTopic select, .addTopic input, .addTopic textarea {
        padding: 5px;
        /*width: calc(100% - 218px);*/
        /*-webkit-transition: border 0.3s ease;*/
    }

        .addTopic input#addTopicButton {
            width: 100%;
        }

    .addTopic select {
        width: 200px;
    }

    .addTopic span.select2-selection.select2-selection--single {
        /*border: 1px solid #c0c0c0;*/
    }

    .addTopic textarea {
        resize: vertical;
        margin-left: 5px;
    }

    .addTopic #topicName {
        margin-left: 5px;
    }

    .addTopic input, .addTopic textarea, .addTopic .select2-container {
        border: 1px solid #c0c0c0;
        margin-top: 3px;
        margin-bottom: 3px;
    }

#addTopicButton:active ~ input.incomplete, #addTopicButton:active ~ textarea.incomplete, #addTopicButton:active ~ .holder select.incomplete + .select2-container {
    border-color: red;
}

#addTopic input.red,
#addTopic textarea.red,
#addTopic .holder select.red + .select2-container {
    border-color: red;
}

.addTopic .select2-container {
    width: calc(100% - 206px);
}

.white-button {
    -moz-transition: color .5s ease, background .5s ease, border-color .5s ease;
    -o-transition: color .5s ease, background .5s ease, border-color .5s ease;
    -webkit-transition: color .5s ease, background .5s ease, border-color .5s ease;
    transition: color .5s ease, background .5s ease, border-color .5s ease;
    color: rgba(255,255,255,.8);
    background: rgba(0,0,0,.0);
    border: 2px solid rgba(255,255,255,.8);
    border-radius: 4px 4px 4px 4px;
    /*float: left;*/
    padding: .5em 1em;
    line-height: 1.3;
    margin: 5px;
}

    .white-button:hover {
        color: rgba(255,255,255,1);
        background: rgba(255,255,255,.1);
        border: 2px solid rgba(255,255,255,1);
    }

.centerer {
    margin: auto;
}

.blueButton {
    -webkit-transition: all 0.3s ease;
    background: #2F2D69;
    border: 2px solid #2F2D69;
    border-radius: 4px 4px 4px 4px;
    font-weight: bold;
    /*float: left;*/
    padding: .5em 1em;
    color: white;
    line-height: 1.3;
    margin: 5px;
}

    .blueButton:hover {
        background: #1c1b39;
        border: 2px solid #1c1b39;
    }

    .blueButton.off, .blueButton:disabled {
        background: #888;
        border-color: #888;
    }

        .blueButton.off:hover {
            background: #888;
            border-color: #888;
        }

        .blueButton.off:focus {
            background: #888;
            border-color: #888;
        }

/* For "Add" buttons next to text input fields */
button.blueButton.textInputButton, input[type="button"].blueButton.textInputButton, input[type="submit"].blueButton.textInputButton {
    padding: 0 .4em;
    margin-left: 0;
}

#saveLoad {
    float: right;
}


.warning {
    color: red;
    display: none;
    padding-left: 200px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}


/*the internet says this should change the height of select2 dropdowns does not seem to work*/
.select2-results {
    max-height: 400px;
}


.addTopic .holder {
    width: calc(100% - 206px);
    display: inline-block;
}




/*#loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:10;
    opacity: 0.4;
    background-color:#356C28;
}*/

/* a bit ugly, this is the div we hide our pop ups in*/
#hidy-hole, .hidden{
    height: 0px;
    overflow: hidden;
}

.ui-dialog {
    box-shadow: 0 0 12px #888;
}


/* The starting CSS styles for the enter animation */
.fade-in.ng-enter {
    transition: 0.3s ease all;
    opacity: 0;
}

    /* The finishing CSS styles for the enter animation */
    .fade-in.ng-enter.ng-enter-active {
        opacity: 1;
    }

.fade-out.ng-leave {
    transition: 0.3s ease all;
    opacity: 1;
}

    .fade-out.ng-leave.ng-leave-active {
        opacity: 0;
    }

.hightlight {
    background-color: yellow;
}

.header-button {
    -moz-transition: background ease .3s;
    -o-transition: background ease .3s;
    -webkit-transition: background ease .3s;
    transition: background ease .3s;
    background: none;
    color: white;
    border: 0;
    padding-left: .4em;
    padding-right: .4em;
    border-radius: .4em;
    margin: 0;
}

    /*.header-button:focus {
    background: rgba(0,0,0,.2);
}*/


    .TopicHeader.expanded .header-button:hover {
        background: rgba(0,0,0,.5);
    }

    .TopicHeader.expanded .header-button:active {
        background: black;
    }

     .branchHeader .header-button:hover,.TopicHeader.dummyHeader .header-button:hover {
        background: rgba(255,255,255,.5);
    }

    .branchHeader .header-button:active, .TopicHeader.dummyHeader .header-button:active {
        background: white;
    }


@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.greenDialogTitlebar{
    background-color: #356C28;
    color: white;
}
