 #matrixTableDiv table, #impactedRightsTable {
    border-collapse: separate;
    text-align: center;
}

th.columnHeader, th.rowHeader {
    background-color:#DCF0D8;
    padding: 3px;
    border-width:0px;      
}

th.columnHeader {
    border-bottom-width: 3px;
    border-bottom-color: #356C28;
    padding-left: 5px;
    padding-right: 5px;
}

th.rowHeader {
    border-right-width: 3px;
    border-right-color: #356C28;
    padding-top: 5px;
    padding-bottom: 5px;
}

#matrixTableDiv td, #impactedRightsTable td {
    background-color:#efefef;
    /*border-radius: 10px;*/
    border-width: 0px;
    padding: 3px;
}

#matrixTableDiv td:hover, #impactedRightsTable td:hover {
    border-style:solid;
    padding: 0px;
}

tr:hover th.rowHeader {
    border-style:solid;
    padding-right: 0px;
}

th.hoveredColumn {
    border-style:solid;
    padding-bottom: 0px; 
}

/*IMPACT SCORE COLORING*/
.terrible, #matrixTableDiv td.terrible, #impactedRightsTable td.terrible, .ui-tooltip-content .terrible{
    border-width:3px;
    border-color:#FF0000;
    background-color:#FAC8C8;
}

.bad, #matrixTableDiv td.bad, #impactedRightsTable td.bad, .ui-tooltip-content .bad{
    border-width:3px;
    border-color:#FF9933;
    background-color:#FFE6CC;
}

.okay, #matrixTableDiv td.okay, #impactedRightsTable td.okay, .ui-tooltip-content .okay{
    border-width:3px;
    border-color:#FFFF33;
    background-color:#FFFFCC;
}

.good, #matrixTableDiv td.good, #impactedRightsTable td.good, .ui-tooltip-content .good{
    border-width:3px;
    border-color:#66FF99;
    background-color:#CCFFDD;
}

.great, #matrixTableDiv td.great, #impactedRightsTable td.great, .ui-tooltip-content .great{
    border-width:3px;
    border-color:#52A4FF;
    background-color:#CCE4FF;
}

/*TOOLTIPS*/
.ui-tooltip-content p.head {
    font-size:18px;
}

.ui-tooltip-content .score {
    border-style:solid;
    padding-left:3px;
    padding-right:3px;
}

div.terrible,
div.bad,
div.okay,
div.good,
div.great{
    border-style: solid;
    background-color:#FFFFFF;
}

    /*
GRADIENTS:
div.okay{
    border-width:2px;
    border-style:solid;
    border-color: #FFFF33;
    background:linear-gradient(to top right, white, white, white, white, #FFFFCC, #FFFF33);
}
*/

/*NO DATA MESSAGE*/
div.nodata {
    width:100%;
    height:100%;
    text-align:center;
    font-size:48px;
    color:rgba(0,0,0,0.25);
}

.hidden {
    display: none;
}

/*SORT OPTIONS*/
#matrixSortOptionsButtons label {
    -webkit-transition: all 0.3s ease;
    background: #888;
    border: 2px solid #888;
    border-radius: 4px 4px 4px 4px;
    font-weight: bold;
    float: left;
    color: white;
    line-height: 1.3;
    margin: 5px;
}

    #matrixSortOptionsButtons label:hover {
        background: #666;
        border: 2px solid #2F2D69;
    }

#matrixSortOptionsButtons label.ui-state-active {
    background: #2F2D69;
    border-color: #2F2D69;
}

    #matrixSortOptionsButtons label.ui-state-active:hover {
        background: #1c1b39;
        border-color: #1c1b39;
    }
