#matrixTableDiv table, #impactedRightsTable {
    border-collapse: separate;
}

th.columnHeader, th.rowHeader {
    background-color:#DCF0D8;      
}

#matrixTableDiv th.columnHeader {
    border-width:0px;
    border-bottom-width: 3px;
    border-bottom-color: #356C28;
    padding: 3px;
}

#matrixTableDiv th.rowHeader {
    border-width:0px;
    border-right-width: 3px;
    border-right-color: #356C28;
    padding: 3px;
}

#matrixTableDiv td, #impactedRightsTable td {
    background-color:#efefef;
    border-radius: 10px;
    border-width: 0px;
    padding: 3px;
}

#matrixTableDiv td:hover, #impactedRightsTable td:hover {
    border-style:solid;
}

#matrixTableDiv tr:hover th.rowHeader {
    border-style:solid;
    padding-right: 0px;
}

#matrixTableDiv th.hoveredColumn {
    border-style:solid;
    padding-bottom: 0px; 
}

#matrixTableDiv td.terrible, #impactedRightsTable td.terrible {
    border-width:3px;
    padding: 0px;
    border-color:#FF0000;
    background-color:#FAC8C8;
}

#matrixTableDiv td.bad, #impactedRightsTable td.bad{
    border-width:3px;
    padding: 0px;
    border-color:#FF9933;
    background-color:#FFE6CC;
}

#matrixTableDiv td.okay, #impactedRightsTable td.okay{
    border-width:3px;
    padding: 0px;
    border-color:#FFFF33;
    background-color:#FFFFCC;
}

#matrixTableDiv td.good, #impactedRightsTable td.good{
    border-width:3px;
    padding: 0px;
    border-color:#66FF99;
    background-color:#CCFFDD;
}

#matrixTableDiv td.great, #impactedRightsTable td.great{
    border-width:3px;
    padding: 0px;
    border-color:#52A4FF;
    background-color:#CCE4FF;
}
