#side-bar-rights {
    border-left: 0px solid #356C28;
    width: 500px;
}

.multi-column {
    -webkit-column-width: 200px;
}

.dont-indent {
    list-style-type: none;
    padding-left: 0;
    /*overrides pure*/
    margin: 0;
}

.right, .right-holder {
    background-color: rgba(255,255,255,0.5);
    border-radius: .2em;
    padding-left: .2em;
    padding-right: .2em;
    list-style-type: none;
    display: inline-block;
}

    .right.adding, .right-holder.adding, .right-holder.ng-enter:not(.adding), .right.ng-enter:not(.adding) {
        background-color: yellow;
    }

    .right-holder.ng-enter:not(.adding), .right.ng-enter:not(.adding) {
        transition: 2s background-color ease;
    }

    /* The finishing CSS styles for the enter animation */
    .right-holder.ng-enter.ng-enter-active:not(.adding), .right.ng-enter.ng-enter-active:not(.adding) {
        background-color: rgba(255,255,255,0.5);
        color: black;
    }



.draggable-holder {
    margin-left: .2em;
    margin-right: .2em;
}

#side-bar-rights .draggable-holder {
    margin-top: .2em;
    margin-bottom: .2em;
}

.right.unlocked.hidden_right, .right-holder.unlocked.hidden_rightsholder {
    color: #888;
    background-color: rgba(255, 220, 220, 0.5);
    border-style: solid;
    border-color: rgba(255, 12, 12, 0.8);
}

.right.unlocked:not(.hidden_right), .right-holder.unlocked:not(.hidden_rightsholder) {
    background-color: rgba(220, 255, 220, 0.5);
    border-style: solid;
    border-color: rgba(12, 225, 12, 0.8);
}
