<!-- HEADER -->
<div
    class="TopicHeader expanded"
    data-ng-click="expandTopicFromHeader(Topic)">
    <span data-ng-if="Topic.modified" class="header-left">
        <i class="icon-pencil" aria-hidden="true"></i>
    </span>
    <span data-ng-if="activeView === 'list'" class="header-left">
        {{::Topic.getData("Catalog") +" &#10142; "+ Topic.getData("Category") +" &#10142; "+ Topic.getData("Sub-Category") +" &#10142; "+ Topic.getData("Topic")}}
    </span>
    <span data-ng-if="activeView === 'tree'" class="header-left">
        {{::Topic.getData("Topic")}}
    </span>
    <span class="header-right spacer"></span>
    <span class="header-right fade-in fade-out">
        <b>Monitor:</b> {{Topic.getData('Monitor')}}
    </span>
    <div class="header-right fade-in fade-out">
        <b>Module:</b> {{::getSetData(Topic, 'Module')()}}
        <button class="header-button" data-ng-click="copyTopic(Topic); $event.stopPropagation();">
            <i class="icon-code-fork"></i>
        </button>
    </div>
    <button
        class="header-right header-button fade-in fade-out"
        tabindex="-1"
        data-ng-focus="updateActive(Topic)"
        data-ng-click="this.showAbout = !this.showAbout; $event.stopPropagation();">
        <i class="icon-question"></i>
    </button>
    <button
        class="header-right header-button fade-in fade-out"
        tabindex="-1"
        data-ng-focus="updateActive(Topic)"
        data-ng-click="delete(Topic);$event.stopPropagation();">
        <i class="icon-trash" aria-hidden="true"></i>
    </button>
</div>

<!-- BODY -->
     <!-- data-ng-show="activeView === 'list' || getRowHat(Topic.id).getRootHat().show" -->
<div
     class="rowInputUI hasRowID"
     data-ng-class="{'active':activeTopic == Topic}"
     data-row="{{Topic.id}}"
     ondrop="g.drop(event)"
     ondragenter="g.dragEnter(event)"
     ondragover="g.allowDrop(event)"
     data-ng-click="updateActive(Topic)">
    <!--ondragleave="g.dragExit(event)"-->
    <div data-ng-if="getRowHat(Topic.id).onScreen" class="fade-in">
        <!--<span data-ng-if="Topic.id == activeTopic.id"> active! </span>-->

        <div class="rowInputUIGroup" data-ng-if="this.showAbout">
            <div class="rowInputUISection">
                {{::Topic.getData("Description")}}
            </div>
        </div>
        <div class="rowInputUIGroup" data-ng-if="search != ''">
            <div class="rowInputUISection">
                in <span class="bold">{{getRowHat(Topic.id).filterDetails[0].columnName}}</span>: {{getRowHat(Topic.id).filterDetails[0].before}}<span class="hightlight">{{getRowHat(Topic.id).filterDetails[0].data}}</span>{{getRowHat(Topic.id).filterDetails[0].after}}
            </div>
        </div>
        <div class="rowInputUIGroup">
            <div class="rowInputUISection inputtext">
                <span class="rowInputUISectionTitle">Input</span>
                <textarea name="input"
                          data-ng-focus="updateActive(Topic)"
                          data-ng-model="getSetData(Topic, 'Input')"
                          data-ng-model-options="{updateOn: 'blur',
                                              getterSetter: true}"></textarea>
            </div>
            <div class="rowInputUISection sourcetext">
                <span class="rowInputUISectionTitle">Source</span>
                <textarea name="source"
                          data-ng-focus="updateActive(Topic)"
                          data-ng-model="getSetData(Topic, 'Source')"
                          data-ng-model-options="{updateOn: 'blur',
                                              getterSetter: true}"></textarea>
            </div>
        </div>
        <div class="rowInputUIGroup">
            <div class="rowInputUISection rightsUI">
                <ul class="dont-indent rightsUI">
                    <li class="rowInputUISectionTitle">Impacted Rights:</li>
                    <li 
                        data-ng-hide="getCurrentRights(Topic).length > 0  || (dragData != null && dragData.type=='Impacted Rights' && dragData.row ==Topic.id)" 
                        class="infotext draggable-holder-placeholder">
                        {{(Topic == activeTopic ? "Double click rights on the sidebar to add them to this section" : "Drag rights from the sidebar to this section")}}
                    </li>
                    <li 
                        class="rightContainer draggable-holder right" 
                        data-ng-repeat="right in getCurrentRights(Topic)" 
                        data-ng-class="{'adding':dragData != null && dragData.type=='Impacted Rights' && dragData.row ==Topic.id && dragData.value ==right}">
                        <span data-ng-click="removeRight(Topic, right)"> x </span>{{right}}
                    </li>
                </ul>
                <ul class="dont-indent rightsholdersUI">
                    <li class="rowInputUISectionTitle">Impacted Rights-holders:</li>
                    <li 
                        data-ng-hide="getCurrentRightsholders(Topic).length > 0  || (dragData != null && dragData.type=='Impacted Rights-Holders' && dragData.row ==Topic.id)" 
                        class="infotext draggable-holder-placeholder">
                        {{(Topic == activeTopic ? "Double click rights-holders on the sidebar to add them to this section" : "Drag rights-holders from the sidebar list to this section")}}
                    </li>
                    <li 
                        class="rightContainer draggable-holder right-holder" 
                        data-ng-repeat="rightsholder in getCurrentRightsholders(Topic)" 
                        data-ng-class="{'adding':dragData != null && dragData.type=='Impacted Rights-Holders' && dragData.row ==Topic.id && dragData.value ==rightsholder}">
                        <span data-ng-click="removeRightsholder(Topic, rightsholder)"> x </span>{{rightsholder}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="rowInputUIGroup">
            <div class="rowInputUISection scoreUI">
                <span class="rowInputUISectionTitle">Score</span>
                <!--<select data-ng-model="getSetData(Topic, 'Score')" data-ng-model-options="{getterSetter: true}" value="{{score}}" ng-options="score for score in scorevals"></select>-->
                <div>
                    <div data-ng-repeat="score in scorevals">
                        <input type="radio"
                               data-ng-focus="updateActive(Topic)"
                               id="{{::'radio' + Topic.id + '#' + score}}"
                               data-ng-model="getSetData(Topic, 'Score')"
                               data-ng-model-options="{getterSetter: true}"
                               value="{{score}}">
                        <label for="{{::'radio' + Topic.id + '#' + score}}" data-ng-class="getScoreCategoryClass(score)">{{score}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DIALOG -->
<div id="{{'copyTopicModuleDialog' + activeView + Topic.id}}" class="dialog hidden moduleDialog">
    <div data-ng-if="renderCopyTopicModuleDialog(Topic)">
        <div data-ng-repeat="module in moduleList()">
            <input type="radio"
                   id="{{::'radio' + activeView + Topic.id + 'MOD' + module}}"
                   data-ng-model="mo.selectedModule"
                   value="{{module}}">
            <label for="{{::'radio' + activeView + Topic.id + 'MOD' + module}}">{{module}}</label>
        </div>
        <div class="newModuleField">
            <span data-ng-show="!mo.showAddModule" data-ng-click="showAddMod()">
                Add New Module
            </span>
            <input type="text" data-ng-show="mo.showAddModule" data-ng-model="mo.newMod"></input>
        </div>
        <div class="addModButtons" data-ng-show="mo.showAddModule">
            <button 
                 class="blueButton textInputButton" 
                 data-ng-click="addNewMod()" 
                 data-ng-disabled="!mo.newMod">
                Add
            </button>
            <button
                 class="blueButton textInputButton" 
                 data-ng-click="resetAddMod()">
                Cancel
            </button>
        </div>
    </div>
           
</div>
