<div class="rowInputUI hasRowID" data-row="{{Topic.id}}" ondrop="g.drop(event)" ondragover="g.allowDrop(event)">
    <div data-ng-if="Topic.onScreen">
        <button data-ng-click="delete(Topic)">remove</button>
        <button data-ng-click="this.showAbout = !this.showAbout">info</button>
        <div data-ng-if="this.showAbout">
            {{::Topic.getData("Description")}}
        </div>
        <div class="rowInputUIGroup">
            <div class="rowInputUISection inputtext">
                <span>Input</span>
                <textarea name="input"
                          data-ng-model="getSetData(Topic, 'Input')"
                          data-ng-model-options="{updateOn: 'blur',
                                              getterSetter: true}"></textarea>
            </div>
            <div class="rowInputUISection sourcetext">
                <span>Source</span>
                <textarea name="source"
                          data-ng-model="getSetData(Topic, 'Source')"
                          data-ng-model-options="{updateOn: 'blur',
                                              getterSetter: true}"></textarea>
            </div>
        </div>
        <div class="rowInputUIGroup">
            <div class="rowInputUISection rightsUI">
                <span>Impacted Rights</span>
                <!--<div data-ng-hide="getCurrentRights(Topic).length > 0">
                    <br />
                    <div class="infotext">Drag rights from the sidebar list to this section</div>
                </div>-->
                <ul class="dont-indent">
                    <li class="rightContainer draggable-holder right" data-ng-repeat="right in getCurrentRights(Topic)">
                        <span data-ng-click="removeRight(Topic, right)"> x </span>{{right}}
                    </li><!--data-ng-show="this.editRights"-->
                </ul>
            </div>
            <div class="rowInputUISection rightsholdersUI">
                <span>Impacted Rights-holders</span>
                <!--<div data-ng-hide="getCurrentRightsholders(Topic).length > 0">
                    <br />
                    <div class="infotext">Drag rightsholders from the sidebar list to this section</div>
                </div>-->
                <ul class="dont-indent">
                    <li class="rightContainer draggable-holder right-holder" data-ng-repeat="rightsholder in getCurrentRightsholders(Topic)">
                        <span data-ng-click="removeRightsholder(Topic, rightsholder)"> x </span>{{rightsholder}}
                    </li>
                    <!--data-ng-show="this.editRightsholders"-->
                </ul>
            </div>
            <div data-ng-init="newMod=''" class="rowInputUISection moduleUI">
                <span>
                    Module
                </span>
                <select data-ng-model="getSetData(Topic, 'Module')" data-ng-model-options="{getterSetter: true}" value="{{module}}" ng-options="module for module in moduleList()"></select>

                <!--<label class="vert" data-ng-repeat="module in moduleList()">
                    <input type="radio" data-ng-model="getSetData(Topic, 'Module')" data-ng-model-options="{getterSetter: true}" value="{{module}}">
                    {{module}}
                </label>-->
                

                <input type="text" name="module" data-ng-model="newMod" />
                <button data-ng-click="addNewMod(newMod);newMod='';">Add New</button>

            </div>
        </div>
        <div class="rowInputUIGroup">
            <div class="rowInputUISection scoreUI">
                <span>Score</span>

                <!--<select data-ng-model="getSetData(Topic, 'Score')" data-ng-model-options="{getterSetter: true}" value="{{score}}" ng-options="score for score in scorevals"></select>-->

                <div>
                    <div data-ng-repeat="score in scorevals">
                        <input type="radio"
                               id="{{::'radio' + score + Topic.getData('Topic')}}"
                               data-ng-model="getSetData(Topic, 'Score')"
                               data-ng-model-options="{getterSetter: true}"
                               value="{{score}}">
                        <label for="{{::'radio' + score + Topic.getData('Topic')}}" data-ng-class="getScoreCategoryClass(score)">{{score}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
