<div class="rowInputUI hasRowID" data-ng-class="{'active':activeTopic == Topic}" data-row="{{Topic.id}}" ondrop="g.drop(event)" ondragenter="g.dragEnter(event)" ondragover="g.allowDrop(event)" data-ng-click="updateActive(Topic)">
    <!--ondragleave="g.dragExit(event)"-->
    <div data-ng-if="getRowHat(Topic.id).onScreen" class="fade-in">
        <!--<span data-ng-if="Topic.id == activeTopic.id"> active! </span>-->
        
        <div class="rowInputUIGroup" data-ng-if="this.showAbout">
            <div class="rowInputUISection">
                {{::Topic.getData("Description")}}
            </div>
        </div>
        <div class="rowInputUIGroup" data-ng-if="search != ''">
            <div class="rowInputUISection">
                in <span class="bold">{{getRowHat(Topic.id).filterDetails[0].columnName}}</span>: {{getRowHat(Topic.id).filterDetails[0].before}}<span class="hightlight">{{getRowHat(Topic.id).filterDetails[0].data}}</span>{{getRowHat(Topic.id).filterDetails[0].after}}
            </div>
        </div>
        <div class="rowInputUIGroup">
            <div class="rowInputUISection inputtext">
                <span class="rowInputUISectionTitle">Input</span>
                <textarea name="input"
                          data-ng-focus="updateActive(Topic)"
                          data-ng-model="getSetData(Topic, 'Input')"
                          data-ng-model-options="{updateOn: 'blur',
                                              getterSetter: true}"></textarea>
            </div>
            <div class="rowInputUISection sourcetext">
                <span class="rowInputUISectionTitle">Source</span>
                <textarea name="source"
                          data-ng-focus="updateActive(Topic)"
                          data-ng-model="getSetData(Topic, 'Source')"
                          data-ng-model-options="{updateOn: 'blur',
                                              getterSetter: true}"></textarea>
            </div>
        </div>
        <div class="rowInputUIGroup">
            <div class="rowInputUISection rightsUI">
                <ul class="dont-indent rightsUI">
                    <li class="rowInputUISectionTitle">Impacted Rights:</li>
                    <li data-ng-hide="getCurrentRights(Topic).length > 0  || (dragData != null && dragData.type=='Impacted Rights' && dragData.row ==Topic.id)" class="infotext draggable-holder-placeholder">
                        {{(Topic == activeTopic ? "Double click rights on the sidebar to add them to this section" : "Drag rights from the sidebar list to this section")}}
                    </li>
                    <li class="rightContainer draggable-holder right" data-ng-repeat="right in getCurrentRights(Topic)" data-ng-class="{'adding':dragData != null && dragData.type=='Impacted Rights' && dragData.row ==Topic.id && dragData.value ==right}">
                        <span data-ng-click="removeRight(Topic, right)"> x </span>{{right}}
                    </li>
                </ul>
                <ul class="dont-indent rightsholdersUI">
                    <li class="rowInputUISectionTitle">Impacted Rights-holders:</li>
                    <li data-ng-hide="getCurrentRightsholders(Topic).length > 0  || (dragData != null && dragData.type=='Impacted Rights-Holders' && dragData.row ==Topic.id)" class="infotext draggable-holder-placeholder">
                        {{(Topic == activeTopic ? "Double click rights-holders on the sidebar to add them to this section" : "Drag rights-holders from the sidebar list to this section")}}
                    </li>
                    <li class="rightContainer draggable-holder right-holder" data-ng-repeat="rightsholder in getCurrentRightsholders(Topic)" data-ng-class="{'adding':dragData != null && dragData.type=='Impacted Rights-Holders' && dragData.row ==Topic.id && dragData.value ==rightsholder}">
                        <span data-ng-click="removeRightsholder(Topic, rightsholder)"> x </span>{{rightsholder}}
                    </li>
                </ul>
            </div>
            <div data-ng-init="newMod=''" class="rowInputUISection moduleUI">
                <span class="rowInputUISectionTitle">
                    Module
                </span>
                <select data-ng-focus="updateActive(Topic)" data-ng-model="getSetData(Topic, 'Module')" data-ng-model-options="{getterSetter: true}" value="{{module}}" ng-options="module for module in moduleList()"></select>
                <input data-ng-focus="updateActive(Topic)" type="text" name="module" data-ng-model="newMod" />
                <button data-ng-focus="updateActive(Topic)" data-ng-click="addNewMod(newMod);newMod='';">Add New</button>
            </div>
        </div>
        <div class="rowInputUIGroup">
            <div class="rowInputUISection scoreUI">
                <span class="rowInputUISectionTitle">Score</span>
                <!--<select data-ng-model="getSetData(Topic, 'Score')" data-ng-model-options="{getterSetter: true}" value="{{score}}" ng-options="score for score in scorevals"></select>-->
                <div>
                    <div data-ng-repeat="score in scorevals">
                        <input type="radio"
                               data-ng-focus="updateActive(Topic)"
                               id="{{::'radio' + score + Topic.getData('Topic')}}"
                               data-ng-model="getSetData(Topic, 'Score')"
                               data-ng-model-options="{getterSetter: true}"
                               value="{{score}}">
                        <label for="{{::'radio' + score + Topic.getData('Topic')}}" data-ng-class="getScoreCategoryClass(score)">{{score}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
