.rowInputUI{
    display: flex;
    flex-direction: row;
}

    .rowInputUI > div{
        background-color: #efefef;
        margin: .12em;
        padding: .5em;
    }
    
    .rowInputUI > div p{
        font-weight: bold;
    }

    .rowInputUI .inputandsource{
        display: flex;
        flex-direction: column;
    }
        
        .inputandsource .inputtext textarea, .inputandsource .sourcetext textarea{
            width: 100%;
        }

        .inputandsource .inputtext{
            flex: 3 1 auto;
        }
        .inputandsource .sourcetext{
            flex: 1 1 auto;
        }
