#splash {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

    #splash #splash-background, #splash #splash-content {
        /*transition: top 10s ease-in, opacity 10s ease-in;*/
        top: 0;
        opacity: 1;
        width: 100%;
        height: 100%;
    }

        #splash #splash-background.going, #splash #splash-content.going {
            /*top: -20%;*/
            /*opacity: 0;*/
            -moz-animation: leave 2s ease-in;
            -o-animation: leave 2s ease-in;
            -webkit-animation: leave 2s ease-in;
            animation: leave 2s ease-in;
        }

    #splash #splash-background {
        position: relative;
        object-fit: cover;
    }

@keyframes leave {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#splash #splash-content {
    position: absolute;
    z-index: 2;
}


#splash #title {
    display: block;
    font-size: 8em;
    color: rgba(255,255,255,.4);
    text-align: center;
}

#splash #sub-title {
    display: block;
    font-size: 2em;
    color: rgba(255,255,255,.4);
    text-align: center;
}
