html {
    height: 90%;
    width: 100%;
}

body {
    height:100%;
}

#tabs {
    height:100%;
}

#tabsBar {
    height:42px;
}

#tabs {
    height: 100%;
    width: 100%;
}


#beans {
    height: calc(100%-50px);
    width: 100%;
    overflow: scroll;
}
